<html>
	<head>
		<title>swarm</title>
	</head>
	<body>
		<h1>swarm</h1>
		<h2>status</h2>
		<table>
		<thead><th>Id</th><th>IP</th><th>Host</th><th>Total RAM</th><th>Free RAM</th></thead>
		{{range $id, $status := .Status}}
			<tr>
				<td>{{$id}}</td>
				<td>{{$status.Ip}}</td>
				<td>{{$status.Hostname}}</td>
				<td>{{$status.TotalRam}}</td>
				<td>{{$status.FreeRam}}</td>
			</tr>
		{{end}}
		</table>
		<h2>jobs</h2>
		<table>
		<thead><th>Id</th><th>Start time</th><th>Exited</th><th>Success</th></thead>
		{{range $id, $jobs := .Jobs}}
			{{range $_, $job := $jobs}}
				<tr>
					<td>{{$id}}</td>
					<td>{{$job.StartTime}}</td>
					<td>{{$job.Exited}}</td>
					<td>{{$job.Success}}</td>
				</tr>
			{{end}}
		{{end}}
		</table>
	</body>
</html>

